<div>
  <table border="1" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let student of studentCollection.getCollection() | keyvalue">
        <td>{{ student.value.getId() }}</td>
        <td>{{ student.value.getNom() }}</td>
        <td>{{ student.value.getPrenom() }}</td>
        <td>{{ student.value.getAdresse() }}</td>
        <td>
          <button
            type="button"
          >
            Modifier
          </button>
          <button
            type="button"
          >
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
          <td colspan="5">
            <button
              type="button"
            >
              Nouveau
            </button>
          </td>
      </tr>
    </tfoot>
  </table>
</div>